.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/*.js.map
out/tests/**
docker-compose.yml
sample-files/**
chromadb-data/**
.github/**
.prettierignore
.eslint.config.mjs
